@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passero+One&family=Passions+Conflict&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Passero+One&family=Passions+Conflict&display=swap');

:root{
    --font1: verdana, tahoma, sans-serif;
    --font2: "Passero One", sans-serif;
    --font3: "Passions Conflict", cursive;
}

*{
    font-size: 1em;
    margin: 0px;
    padding: 0px;
    
}
html, body {
    font-family: var(--font1);
    min-height: 100vh;
    background-color: darkgray;
}
header{
    background-color: black;
    color: white;
    text-align: center;
}
header >h1{
    font-family: 'Times New Roman';
    font-size: 7vw;
    padding-top: 50px;
    font-variant: small-caps;
}
header >h2{
    font-family: var(--font2);
    font-size: 4vw;
    padding-bottom: 20px;
    font-variant: small-caps;
}
header >p {
    padding-bottom: 50px;
}
header a, footer a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
header a:hover, footer a:hover{
    text-decoration: underline;
}
section{
    font-family: var(--font3);
    font-weight: semi-bold;
    font-size: 5vw;
    line-height: 1em;
    padding-top: 5vh;
    padding-bottom: 5vh;
    padding-left: 30px;
}
section.normal {
    background-color: white;
    color: black;
    
    
}section p{
    padding-bottom: 1em;
    
}
section#img01{
    background-image: url(../imagens/background001.jpg);
    background-position: right, center;
    

}
section#img02{
    
    background-image: url(../imagens/background002.jpg);
    background-position: right, center;
    
    
} 
section.imagem {
    background-color: rgb(51, 51, 51);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.475);background-size: cover;
    background-attachment: fixed;
    }
section.imagem > p {
    font-style: italic;
    font-weight: semi-bold;
    display: inline-block;
    padding: 7px;
    color: white;
    background-color: rgba(0, 0, 0, 0.603);
    text-shadow: 1px 1px 0px black;
}

footer {
    background-color: rgba(0, 0, 0, 0.281);
    color: white;
    text-align: center;
    padding: 10px;
}

